# 1. Ignore EVERYTHING in the repository
*

# 2. But... Do NOT ignore directories (so git can look inside them)
!*/

# 3. Un-ignore the specific file types you want to keep
!*.ppt
!*.pptx
!*.doc
!*.docx
